.container {
    min-height: 100%;
    position: relative;
    min-width: 100%;
    padding: 0;
    padding-bottom: 5rem; /*to prevent the footer from overlapping */
}

.App {
    position: relative;
    min-height: 100vh;
}

/* Header Component */

.Header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 4px;
    margin-top: 0;
}

.Logo {
    width: 15rem;
}

.header-links {
    flex-grow: 2;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-link-item {
    font-family: 'Roboto', sans-serif;
    border: 1px black;
    background-color: #DC3545;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
}

a:link {
    text-decoration: none;
}

/* Home Page Component */

.homepage {
    margin: auto;
    width: 90%;
}

.welcome-text-h1 {
    font-weight: 800;
    font-size: 6vw;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.homepage-access {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage-access>div {
    border: 2px solid black;
    margin: 2%;
}

.homepage-student-access {}

.homepage-mentor-access {}

.welcome-text {
    font-weight: 800;
    font-size: 4vw;
    margin: 5%;
    opacity: 1.0;
}

.img-text-container {
    display: block;
    flex-wrap: wrap;
}


/* Button Component */

.button-component,
.quiz-submit-button,
.submit-quiz-button {
    width: 100%;
}

.button1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    margin-bottom: 2rem;
    display: flex;
    width: 8rem;
    background-color: red;
    border-radius: 1rem;
    color: white;
    font-size: medium;
    padding: 0.5rem;
}

/* Footer */

.Footer {
    background-color: #f3f3f3;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.25);
    padding: 4px 0 4px 0;
    font-size: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 5rem; /*to prevent the footer from overlapping */
}

.footer-links-div {
    display: flex;
    margin-left: 8px;
    max-width: 400px;
}

.footer-links-div p {
    margin: 0;
    padding: 2px 0 2px 0;
}

.copyright {
    margin-left: 8px;
    margin-right: 8px;
}

.copyright p{
    margin-bottom: 4px;
}

.footer-links {
    list-style: none;
    margin-bottom: 4px;
    padding: 0;
    margin-right: 16px;
    
}

.footer-links li {
    white-space: nowrap;
    margin-right: 16px;
    padding: 1px;
}



/* .message {
    color: blue;
}

.message:hover {
    background-color: yellow;
} */
/*
$color-primary: #ED4343;

$color-gray: #f3f3f3;
$color-gray-darker: #787878;

$color-green: #28A745;
$color-green-darker: #1C612C;

$color-yellow: #E9AF01;
$color-yellow-darker: #9C7603;

$color-red: #DC3545;
$color-red-darker: #8E0D19;

$color-blue: #17A2B8;
$color-blue-darker: #105965;

$color-pink: #DC4785;
$color-pink-darker: #60203B;

$color-background-popup: rgba(0, 0, 0, 0.75);

$color-white: #fff;
$color-black: #000;


$color-table-green: #B7E1CD;
$color-table-red: #F4C7C3;
$color-table-yellow: #FCE8B2;
*/

@media screen and (min-width: 650px) {
    .Footer {
        font-size: 12px;
        display: block;
    }
    
    .footer-links {
        display: flex;
    }
    
}

@media screen and (min-width: 700px) {
    .welcome-text {
        font-size: 28px;
    }


}